{% extends 'auctions/layout.html' %}

{% block body %}
<div class="content">
  <h2>Active listings from category <span class="item-title">{{category_name}}</span></h2>
  <ul class="list-items">
    {% if auctions_from_category %}
      {% for listing in auctions_from_category %}
        {% if not listing.is_closed %}
          <li>
            <a href="{% url 'listing' listing.id %}">
              {% if listing.imageURL %}
                <img src="{{ listing.imageURL }}" alt="image of a listing" class="image-item"/>
              {% endif %}
              <h4>{{ listing.title }}</h4>
              <span>{{ listing.price }} $</span>
              <p>{{ listing.description }}</p>
              <p>Created {{ listing.created_at }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <h3>No active listings available</h3>
    {% endif %}
  </ul>
</div>
{% endblock %}
