{% extends 'auctions/layout.html' %}

{% block body %}
  <h2>Active Listings</h2>
  <ul>
    {% if auction_listings %}
      {% for listing in auction_listings %}
        {% if not listing.is_closed %}
          <li>
            <a href="{% url 'listing' listing.id %}">
              {% if listing.imageURL %}
                <img src="{{ listing.imageURL }}" alt="image of a listing" />
              {% endif %}
              <h4>{{ listing.title }}</h4>
              <span>{{ listing.start_bid }} $</span>
              <p>{{ listing.description }}</p>
              <p>Created {{ listing.created_at }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <h3>No active listings available</h3>
    {% endif %}
  </ul>
{% endblock %}
