{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
  <div class="content">
    <section id="listing-details">
      <div>
        <h3>Listing: <span class="item-title">{{ auction.title }}</span></h3>
        <form action="{% url 'listing' auction.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Watchlist" name="watchlist-element" {% if is_auction_in_watchlist %} class="in-watchlist" {% endif %} />
        </form>
        {% if auction.imageURL %}
          <img src="{{ auction.imageURL }}" alt="image of this listing" id="listing-image" class="image-item" />
        {% endif %}
      </div>
      <div>
        <h3>Description</h3>
        <p>{{ auction.description }}</p>
        {% if bid_number %}
          <h3>Highest bid: <span class="current_price">USD $ {{ highest_bid }}</span></h3>
          <h3>Last bid(s):</h3>
          <ul>
            {% for bid in bid_amount_to_be_displayed %}
              <li class="last-bids">$ {{ bid }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <h3>Starting bid: <span class="current_price">USD $ {{ auction.start_bid }}</span></h3>
        {% endif %}

        {% if not is_user_creator %}
          {% if user.is_authenticated %}
            <p>{{ bid_number|length }} bid(s) so far. {% if user_made_the_highest_bid %} Your bid is the current bid {% endif %}</p>
          {% endif %} 
          {% if message %}
            <p class="alert alert-danger">{{ message }}</p>
          {% endif %}
          {% if not got_winner %}
            <form action="{% url 'listing' auction.id %}" method="POST">
              {% csrf_token %}
              <input type="number" name="bid" id="bid" placeholder="Bid" />
              <input type="submit" value="Place Bid" />
            </form>
          {% else %}
            {% if won_auction_message %}
              <h3 class="alert alert-success">{{ won_auction_message }}</h3>
            {% endif %}
          {% endif %}
        {% else %}
          <p>{{ bid_number|length }} bid(s) so far!</p>
            {% if auction.is_closed %}
              <button class="auction-closed" disabled> Closed </button>
            {% else %}
              <form action="{% url 'listing' auction.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" id="close_auction" name="close_auction" value="Close this auction" />
              </form>
            {% endif %}
            {% if got_winner %}
              {% if won_auction_message %}
                <h3 class="alert alert-success">{{ won_auction_message }}</h3>
              {% endif %}
            {% endif %}
        {% endif %}
        <h4 class="details">Details</h4>
        <ul>
          <li>
            Listed by: <span class="creation-information">{{ auction.created_by }}</span>
          </li>
          <li>
            Category:{% if auction.category %}
              <span class="creation-information">
                {% for key, value in categories_list %}
                  {% if auction.category == key %}
                    {{value}}
                  {% endif %}
                {% endfor %}
            </span>
            {% else %}
              No Category listed
            {% endif %}
          </li>
        </ul>
      </div>
    </section>
    <hr />
    <section class="comment">
      <h4>Comments</h4>
      <form action="{% url 'listing' auction.id %}" method="POST" class="comment-form">
        {% csrf_token %}
        <textarea name="comment" id="comment" placeholder="enter your comment here" rows="3" cols="50"></textarea>
        <input type="submit" value="send" />
      </form>
      {% if comment_error_message %}
        <p class="alert alert-danger">{{ comment_error_message }}</p>
      {% endif %}
      {% if list_comment %}
        <ul class="comment-list">
          {% for comment_element in list_comment %}
            <li>
              {% if user_list %}
                {% for user in user_list %}
                  {% if user.id == comment_element.commenter_id %}
                    <div class="profile">
                      <img src="{% static 'auctions/profile-icon.svg' %}" alt="avatar icon" class="profile-icon" />
                      <span>{{ user.username }} - {{ comment_element.comment_time }}</span>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <span class="comment-text">{{ comment_element.comment_text }}</span><br />
            </li><br />
          {% endfor %}
        </ul>
      {% else %}
        <h4>No comments</h4>
      {% endif %}
    </section>
  </div>
{% endblock %}
