{% extends 'auctions/layout.html' %}

{% block body%}
<ul>
    {% if watchlist %}
      {% for item in watchlist %}
        <li>
          <a href="{% url 'listing' item.auction.id %}">
            {% if item.auction.imageURL %}
              <img src="{{ item.auction.imageURL }}" alt="image of a item" />
            {% endif %}
            <h4>{{ item.auction.title }}</h4>
            <span>{{ item.auction.price }} $</span>
            <p>{{ item.auction.description }}</p>
            <p>Created {{ item.auction.created_at }}</p>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}